body {
    font-family: "Roboto", sans-serif;
    font-weight: 400 500 700;
    Size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo .plan-name {
    color: #2E2F42;
}

.logo .plan-name-footer {
    color: #F4F4FD;
}

.nav-page .link {
    font-weight: 500;
    font-size: 16px;
    color: #2E2F42;
    line-height: 1.5;
}

.nav-page .link:hover {
    color: #404BBF;
}

.nav-page .link:active {
    color: #404BBF;
    text-decoration: underline;
}

.address .link {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.address .link:hover {
    color: #404BBF;
}

.main-page {
    background-color: #2E2F42;
}

.main-page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #4D5AE5;
    cursor: pointer;
}

button:hover {
    background: #404BBF;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

p {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #F4F4FD;
}

.footer {
    background-color: #2E2F42;
}

footer>p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}